body{
    font-family: 'Concrete';
    min-width: 300px;
}

.wrapper-sa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}