.menu-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background: rgb(15, 82, 90);
}

.menu-block_desktop_items {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-block_mobile_items {
    display: none;
}

.menu-block_alit-button {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding-top: 0px;
}

.menu-block button {
    display: none;
    width: 50px;
    font-size: 20px;
    text-align: center;
    background: none;
    padding: 5px 5px 5px 5px;
    color: #000;
    border: 2px solid black;
    transition: .5s all;
}

.menu-block button:visited {
    color: #000;
}

.menu-block button:hover {
    background: #fff;
}

.menu-block button:active {
    transform: scale(1.1);
}

.menu-block a {
    display: block;
    font-size: 16px;
    color: #fff;
    margin: 0px 50px 0px 50px;
    transition: .5s all;
}

.menu-block a:hover {
    color: #777;
}

.menu-block a:active {
    transform: scale(1.3);
}

.disable-href-beginner {
    pointer-events: none;
    padding: 15px 15px 15px 15px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

.disable-href-beginner:visited {
    color: #000;
}

@media screen and (max-width:897px) {
    .menu-block_alit-button {
        padding: 10px 0px 10px 0px;
    }

    .disable-href-beginner {
        padding: 0px 0px 0px 0px;
    }

    .menu-block button {
        display: block;
    }

    .menu-block_desktop_items {
        display: none;
    }

    .menu-block_mobile_items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .menu-block a {
        margin: 0px;
    }

    .menu-block_mobile_items a{
        padding: 10px;
    }

    .menu-block_mobile_items .disable-href-beginner{
        padding: 10px;
    }

    .disable-href-beginner {
        width: 100%;
        text-align: center;
    }

}