/* Стили слайдера */
.slider-container{
    width: 100%;
    height: 400px;
}

.slider-block {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    border: 2px solid black;
}

.slider-block_images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.slider-block_buttons_panel {
    width: 99%;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 5px;
    display: flex;
    justify-content: space-between;
}

.slider-block_buttons_panel button {
    width: 40px;
    height: 40px;
    background: #0f525a;
    color: #FFF;
    border-radius: 20%;
}

.slider-block_buttons_panel__bullits{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider-block_buttons_panel__bullits .bullit{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px 5px;
}

.slider-block_buttons_panel__bullits .bullit-active{
    background-color: #0f525a;
}