/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
	position: relative;
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/svg/arrowpointingleft.png') 0 0 / 100% 90%no-repeat;
	background-color: rgba(255, 255, 255, 0.4);
}

.slider .slick-arrow.slick-prev:hover{
	background-color: rgba(255, 255, 255, 0.8);
}

.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/svg/arrowpointingright.png') 00 0 / 100% 90%no-repeat;
	background-color: rgba(255, 255, 255, 0.4);
}

.slider .slick-arrow.slick-next:hover{
	background-color: rgba(255, 255, 255, 0.8);
}


.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto 20px 0px;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #333;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
	border: 2px solid black;
}